<%%= simple_form_for(@<%= singular_name %>) do |f| %>
  <div class="box-body">
  <%- editable_attributes.each do |attribute| -%>
    <div class="row">    
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
      <%%=f.<%= attribute.reference? ? 'association' : 'input' %> :<%= attribute.name %> %>
      </div>
    </div>
  <%- end -%>
  </div>
  <div class="clearfix"></div>
  <div class="box-footer">
    <div class=" pull-right">
      <%%= link_to <%= plural_name %>_path, class: "btn btn-danger btn-sm btn-flat" do %>
        <i class="fa fa-ban fa-fw"></i> <%%= t('helpers.links.cancel') %>
      <%% end %>      
      <%%= button_tag(type: "submit", name: "save_and_continue", class: "btn btn-primary btn-sm btn-flat") do %>
        <i class='fa fa-check-square-o fa-fw'></i> <%%= t("helpers.links.save_and_continue") %>
      <%% end %>
      <%%= button_tag(type: "submit", name: "save_and_finalize", class: "btn btn-success btn-sm btn-flat") do %>
        <i class='fa fa-save fa-fw'></i> <%%= t("helpers.links.save_and_finalize") %>
      <%% end %> 
    </div>
  </div>
<%% end %>
